<div class="site-width mx-auto">
  <div
    class="container bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow"
    id="description"
  >
    <h2>
      <strong>Add an artist to your collection.</strong>
    </h2>
  </div>
  <div
    class="double-form border bs-border-color bg-opacity-10 rounded-1 shadow"
  >
    <form class="add-artist-form" id="add-artist-form">
      <div class="form-group mb-3">
        <label for="add-artist-name">Artist:</label>
        <input class="form-input" type="text" id="add-artist-name" />
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload an Artist Image:</label>
        <input
          class="form-control"
          style="border-color: black"
          type="file"
          id="add-artist-image"
        />
      </div>
      <div class="mb-3">
        <label for="add-artist-bio" class="form-label"></label>
        <textarea
          class="form-control"
          placeholder="Brief Artist Bio (optional)"
          style="border-color: black"
          id="add-artist-bio"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group login-form-centered">
        <button class="btn btn-secondary" type="submit" id="add-artist-button">
          Add
        </button>
      </div>
    </form>
  </div>
</div>
<script src="./js/addArtist.js"></script>