<div class="site-width mx-auto">
    <div
        class="container bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow"
        id="description"
      >
        <h2>
          <strong>Add an artist to your collection.</strong>
        </h2>
      </div>
          <div class="double-form bs-border-color bg-opacity-10 rounded-1 shadow">
            <div class="add-artist-form">
              <div class="form-group">
                <label for="artist-add">Artist</label>
                <input class="form-input" type="text" id="add-artist" />
              </div>
              <div class="form-group login-form-centered">
                <button class="btn btn-secondary" type="submit" id="add-artist-button">
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
        <script src="./js/login.js"></script>