<div class="container pd-5 bd-gutter">
    <div class="border bs-border-color bg-opacity-10 p-3 rounded-1 gx-5 shadow p-3" id="site_description">
        <p>
            Create a catalogue of all of your albums, review albums, and share
            your catalogue with friends! Discover your next favorite artist, or
            tell the world about your newest album obsession.
        </p>
    </div>
</div>
<div class="card-columns">
    <div class="card mt-3 shadow col-6">
        <a href="..."><img src="/images/coverArt/ABBA_Gold.jpg" class="card-img" /></a>
    </div>
    <div class="card mt-3 shadow col-6">
        <a href="..."><img src="/images/coverArt/Backstreet_Boys_Backstreet_Boys.jpg" class="card-img" /></a>
    </div>
</div>

