<div class="site-width mx-auto">
  <div class="description">
    <div
      class="container bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow"
      id="description"
    >
      <p>
        Create a catalogue of all of your albums, review albums, and share your
        catalogue with friends! Discover your next favorite artist, or tell the
        world about your newest album obsession.
      </p>
    </div>
  </div>
  <div class="searchbars row row-cols-lg-auto align-items-center">
    <form class="d-flex searchfield col-12 col-lg-4" role="search">
      <input
        class="form-control me-3"
        id="search-by-artist-input"
        type="search"
        placeholder="Search by Artist"
        aria-label="Search by Artist"
      />
      <button
        class="btn btn-outline-secondary"
        id="search-by-artist-button"
        type="submit"
      >Search</button>
    </form>
    <form class="d-flex searchfield col-12 col-lg-4" role="search">
      <input
        class="form-control me-2"
        id="search-by-album-input"
        type="search"
        placeholder="Search by Album"
        aria-label="Search by Album"
      />
      <button
        class="btn btn-outline-secondary"
        id="search-by-album-button"
        type="submit"
      >Search</button>
    </form>
    <form class="d-flex searchfield col-12 col-lg-4" role="search">
      <input
        class="form-control me-2"
        id="search-by-song-input"
        type="search"
        placeholder="Search by Song"
        aria-label="Search by Song"
      />
      <button
        class="btn btn-outline-secondary"
        id="search-by-song-button"
        type="submit"
      >Search</button>
    </form>
  </div>
  <div class="container random-records mt-0">
    <div class="row row-style">
      {{#each randomRecords}}
        <div class="col-6 col-md-4 col-lg-4 px-0" style="display: block;">
          <div class="card shadow" id="random-record-cards">
            {{!-- <div class="card-header flex card-height">
                    <h2>{{name}} </h2>
                    <h3>{{year}}</h3>
                </div> --}}
            <a href="#"><img
                src="/images/coverArt/{{cover_art}}"
                class="card-img"
              /></a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<script src="./js/main.js"></script>