<div class="container pd-5 bd-gutter">
    <div class="border bs-border-color bg-opacity-10 p-3 rounded-1 gx-5 shadow p-3" id="site_description">
        <p>
            Create a catalogue of all of your albums, review albums, and share
            your catalogue with friends! Discover your next favorite artist, or
            tell the world about your newest album obsession.
        </p>
    </div>
</div>

 <div class="row mx-2 row-style">
        {{#each randomRecords}}
        <div class="col-6 col-md-4 col-lg-3 ">
            <div class="card mt-3 shadow ">
                <div class="card-header flex card-height">
                    <h2>{{name}} </h2>
                    <h3>{{year}}</h3>
                </div>
                <a href="#"><img src="/images/coverArt/{{cover_art}}" class="card-img" /></a>
            </div>
        </div>
        {{/each}}
    </div>

