h1 {
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  text-align: center;
}

h5,
p {
  font-family: "Platypi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110%;
  text-decoration: none;
  text-align: center;
  padding: 2rem;
}

.site-width {
  width: 90%;
}

.card {
  margin: 1rem;
}

.description {
  padding: 0 1rem 0 1rem;
}

#description {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: medium;
}

.random-records {
  align-items: center;
  width: 100%;
}

.searchbars {
  padding-left: 1rem;
  padding-right: 1rem;
}

.searchfield {
  margin-top: 10px;
}

.double-form {
  /* background-color: red; */
  margin-top: 20px;
  padding: 1rem;
}

h4 {
  font-family: "Platypi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 160%;
  text-decoration: none;
}

#login-button,
#signup-button,
label {
  font-family: "Platypi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110%;
  text-decoration: none;
  padding: 0.25rem;
}

input {
  width: 100%;
}

.login-form-centered {
  display: flex;
  justify-content: center;
}

#login-button,
#signup-button {
  margin: 1rem;
  width: 10rem;
}

.card-height {
  min-height: 150px;
  background: rgb(73, 71, 116);
  background: linear-gradient(
    90deg,
    rgba(73, 71, 116, 1) 0%,
    rgba(237, 175, 245, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(249, 230, 230);
  text-shadow: 3px 3px black;
}

@media (min-width: 768px) {
  .site-width {
    width: 80%;
  }
  label {
    width: 20%;
  }
  input {
    width: 79%;
  }
}

@media (min-width: 992px) {
  .site-width {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .site-width {
    width: 60%;
  }
}
